<footer>
  <div class="footnav">
      <h2>Design by Max @ <a href="https://www.linkedin.com/in/max-reinsch-7567498a/"> <img src="images/linked.png"> </a></h2>            
  </div>
</footer>	        
</body>    
</html>  