<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Max Website</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <header>
        <div class="logos">
            <img src="images/KeyboardAndLogo.png" alt="Max Reinsch logo" class="logo1">            		
        </div>

        <div class="localnavs">
            <ul>
                <li><a href="/index">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/work">WORK</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </div>
    </header>
    <div id="wrapper">