<%- include("partials/header.ejs") %>
<div class="hero-section text-center mb-5">
    <h1 class="">MAX REINSCH</h1>
    <ul class="hero-list list-unstyled">
        <li class="">FULL-STACK</li>
        <li class="">SOFTWARE DEVELOPER</li>
        <li class="">PROGRAMMER</li>
    </ul>
    <img src="images/Max1.png" alt="Max Reinsch" class="me img-fluid mt-4 w-75">
</div>
<div id="about">
    <div class="row text-center ms-md-1 ms-lg-2 ms-xl-4 my-5">
        <img src="images/Laptop.png" alt="Laptop" class="laptop-left d-none d-md-inline col-md-2 img-fluid rotate1">
        <div class="about-me col-md-6 col-md-8 ps-lg-3">
            <h2 class="text-center">ABOUT ME</h2>
            <img src="images/Laptop.png" alt="Laptop" class="laptop-middle d-md-none mx-auto d-block my-3">
            <p class="pl-lg-0 text-center px-3 px-md-0 about">
                I am a Computer Science BSc graduate aspiring to break into the tech industry. 
                I am familiar with a multitude of languages such as Java, Python, JavaScript, 
                C# and have excelled in modules on Python, databases, and front-end web-development. 
                I have an eye for detail and a keen interest in Object-orientated programming and 
                software projects.
            </p>
        </div>                    
        <img src="images/Laptop.png" alt="Laptop" class="laptop-right d-none d-md-inline col-md-2 rotate2">
    </div>    
</div>
<h2 class="work-heading text-center mb-3">WORK</h2>   
<div id="work"> 
    <div class="row mb-5">                                
        <div class="work-project-1 text-center col-lg-6 mt-3">
            <h3 class="mb-3">Sugar_Rings Website</h3>
            <div class="flex mb-2">
                <img src="images/Sugar_Rings.png" alt="Sugar Rings Website" class="SR mb-3">
                <p>
                    A Website developed to meet specifications set by a brief, implemented with responsive web design.
                
                    <a href="https://github.com/MFLR3/Sugar_Rings">https://github.com/MFLR3/Sugar_Rings</a>                 
                </p>
            </div>                
        </div>        
        <div class="work-project-2 text-center col-lg-6 mt-5 mt-lg-3">
            <h3 class="mb-1">Halcyon</h3>
            <div class="flex">
                <img src="images/Halcyon.png" alt="Halcyon. A therapy based Maze game developed in C#." class="halcyon">
                <p>
                    Final project for my undergraduate. An android based maze game which uses a Depth-first search for procedural maze generation.

                    <a href="https://github.com/MFLR3/Halcyon">https://github.com/MFLR3/Halcyon</a>               
                </p>
            </div>
        </div>
    </div>
    <div class="row mb-5">                
            <div class="work-project-3 text-center col-lg-6 mt-3">
                <h3 class="mb-1">Mock Band Website</h3>
                <div class="flex">
                    <img src="images/MockBand.png" alt="Mock Band Website" class="mock mb-1">
                    <p>
                        Mock band website
    
                        Front-end project  developed for a University module.

                        <a href="https://github.com/MFLR3/ClaypoolSite">https://github.com/MFLR3/ClaypoolSite</a>             
                    </p>
                </div>
            </div>            
            <div class="work-project-4 text-center col-lg-6 mt-5 mt-lg-3">
                <h3 class="mb-4">Other Projects</h3>
                <div class="flex">
                    <img src="images/MyGit.png" alt="GitHub Account" class="other-projects mb-4">
                    <p>
                        My programming, software development, and web development experience began well before I started my Computer 
                        Science degree and has continued to grow since. For a comprehensive view of my projects and capabilities, 
                        please explore my GitHub portfolio or contact me via <a href="https://www.linkedin.com/in/max-reinsch-7567498a/">LinkedIn</a>  with any inquiries.

                        <a href="https://github.com/MFLR3">https://github.com/MFLR3</a>                
                    </p>
                </div>
            </div>            
        </div>
    </div>
    <div id="skills">
        <h2 class="skills-heading text-center mb-5">SKILLS</h2> 
        <ul class="skill-list list-unstyled px-5">
            <li class="mb-3"><span class="tab"><img src="images/web-development-svgrepo-com.svg" alt="GitHub Account" class="svg"></span> Web Development - I have been interested in Front-end development for several years and through my tenure at University I 
                acquired experience with Back-end Development. Since graduating, I have been working on my understanding of Fullstack Development. 
            </li>
            <li class="mb-3"><span class="tab"><img src="images/games-svgrepo-com.svg" alt="GitHub Account" class="svg"></span> Games Development - During my CS degree, I have gained some experience with Game Design and Development. I have developed concepts for game projects 
                and created them using the Unity Engine..
            </li>
            <li class="mb-3"><span class="tab"><img src="images/database-svgrepo-com.svg" alt="GitHub Account" class="svg"></span> Databases - I have a basic knowledge of MySQL and how to query a database using various statements. As a fan of open-source software, I am currently studying PostgreSQL. </li>
            <li class="mb-3"><span class="tab"><img src="images/programming-code-application-development-computer-svgrepo-com.svg" alt="GitHub Account" class="svg"></span> Programming languages - To varying levels of competency, some of the 
                languages I am familiar with are Python, JavaScript, TypeScript, C#, C++ and PHP.           
            </li>
            <li class="mb-3"><span class="tab"><img src="images/testing-web-design-svgrepo-com.svg" alt="GitHub Account" class="svg"></span> QA testing - I am also currently building QA tests for various projects. </li>
            <li class="mb-3">For more, visit my Github <a href="https://github.com/MFLR3"><img src="images/github-mark-white.png" alt="GitHub Logo" class="github"></a></li>
            <li class="mb-3">Alternatively, contact me on LinkedIn <a href="https://www.linkedin.com/in/max-reinsch-7567498a/"><img src="images/linked.png" alt="LinkedIn Logo" class="linked"></a></li>
        </ul>
    </div>
</div>    
<%- include("partials/footer.ejs") %> 
  

    
  

    