<%- include("partials/header.ejs") %>
        <div class="hero-section">
            <h1>MAX REINSCH</h1>
            <ul>
                <li>FULL-STACK</li>
                <li>SOFTWARE DEVELOPER</li>
                <li>PROGRAMMER</li>
            </ul>
            <img src="images/Max1.png" alt="Max Reinsch" class="me">
        </div>

        <div class="about">
            <img src="images/Laptop.png" alt="Laptop" class="laptop-left">

            <div class="about-me">
                <h2>ABOUT ME</h2>
                <img src="images/Laptop.png" alt="Laptop" class="laptop-middle">
                <p>
                    I am a Computer Science BSc graduate aspiring to break into the tech industry. 
                    I am familiar with a multitude of languages such as Java, Python, JavaScript, 
                    C# and have excelled in modules on Python, databases, and front-end web-development. 
                    I have an eye for detail and a keen interest in Object-orientated programming and 
                    software projects.
                </p>

            </div>
                        
            <img src="images/Laptop.png" alt="Laptop" class="laptop-right">
        </div>

        <h2 class="work-heading">WORK</h2>   
        <div class="work">                     
            <div class="work-project-1">
                <h3>Sugar_Rings Website</h3>
                <div class="flex">
                    <img src="images/Sugar_Rings.png" alt="Sugar Rings Website" class="SR">
                    <p>
                        A Website developed to meet specifications set by a brief, implemented with responsive web design.
                    
                    Link - https://github.com/MFLR3/Sugar_Rings                   
                    </p>
                </div>                
            </div>
            
            <div class="work-project-2">
                <h3>Halcyon</h3>
                <div class="flex">
                    <img src="images/Halcyon.png" alt="Halcyon. A therapy based Maze game developed in C#." class="Halcyon">
                    <p>
                        Final project for my undergraduate. An android based maze game which uses a Depth-first search for procedural maze generation.

                        Link - https://github.com/MFLR3/Halcyon                   
                    </p>
                </div>
            </div>
            
            <div class="work-project-3">
                <h3>Mock Band Website</h3>
                <div class="flex">
                    <img src="images/MockBand.png" alt="Mock Band Website" class="SR">
                    <p>
                        Mock band website
    
                        Front-end project  developed for a University module.
    
                        Link - https://github.com/MFLR3/ClaypoolSite               
                    </p>
                </div>
            </div>
            
            <div class="work-project-4">
                <h3>Other Projects</h3>
                <div class="flex">
                    <img src="images/MyGit.png" alt="GitHub Account" class="SR">
                    <p>
                        My experience of programming, software development, 
                        and web development commenced well before the initiation of my Computer Science Degree 
                        and has continued to evolve since then. To gain deeper insights into my projects and capabilities, 
                        I welcome you to review my GitHub portfolio or reach out to me via email with any inquiries you 
                        may have.
                       
                       Link - https://github.com/MFLR3                  
                    </p>
                </div>
            </div>
            
        </div>

        <div class="contact">

            <h2>Contact Me</h2>

            <div class="email-form">
                <form class="contact-form">
                    <input type="text" id="fullName" placeholder="Full name">
                    <input type="email" id="email" placeholder="Email">
                    <!--<input type="test" id="subject" placeholder="Subject">-->
                    <textarea id="message" | cols="30" rows="10"></textarea>
                    <input type="submit" class="submit" value="Send Message">

                </form>
                <!-- BOOKMARK: Sort out the backend to this form. 20 mins on Video -->
                <!--Hi Nick! -->
                
            </div>            
        </div>
    </div>      
<%- include("partials/footer.ejs") %> 
  

    
  

    