<%- include("partials/header.ejs") %>
        <div class="hero-section">
            <h1>MAX REINSCH</h1>
            <ul>
                <li>FULL-STACK</li>
                <li>SOFTWARE DEVELOPER</li>
                <li>PROGRAMMER</li>
            </ul>
            <img src="images/Max1.png" alt="Max Reinsch" class="me">
        </div>
    </div>      
<%- include("partials/footer.ejs") %> 
  

    