/* Max Portfolio Website */
/* Mobile-First Approach */

* {
    margin: 0;
    color: white;    
}

p {
    font-size: 0.7rem;
}

body {
    background-image: linear-gradient(#000000, #525288);
    background-color: #000000;    
    background-repeat: no-repeat;   
    background-size: cover; 
    width: 100%;
    min-height: 100vh;
    min-width: 100%;
    overflow-x: hidden;
}

h1, h2 {
    text-shadow: 2px 2px 2px rgba(87, 87, 87, 0.91);
}

#about {
    margin-top: 50px;
    margin-bottom: 200px;
}

.rotate1 {
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.rotate2 {
    animation: rotation2 8s infinite linear;
}

@keyframes rotation2 {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(540deg);
    }
  }

.navbar-nav, .hamburger {
    top: 0;
    display: absolute;
}

.logo1 {
    margin: 10px;
    display: absolute;
}

.laptop-left, .laptop-right {
    max-width: 129.5px;
    max-height: 115px;
}

.laptop-middle {
    max-width: 194.25px;
    max-height: 172.5px;
}

.SR, .halcyon, .mock, .other-projects {
    max-width: 70%;
}

.svg, .linked, .github {
    max-width: 20px;
}

.link:hover {
    color: red;
}

/* Media */

@media (min-width: 576px) { /* small and up */
    .me {
      max-width: 50%;
    }

    p {
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) { /* md and up */
    .me {
        max-width: 25%;
    }

    .SR {
        max-width: 25%;
    }

    p {
        font-size: 1.1rem;
    }
}

@media (min-width: 992px) { /* lg and up */
        #skills {
            padding-left: 15%;
            padding-right: 15%;
        }

        p {
            font-size: 1.3rem;
        }

        #about {
            margin-left: 4%;
        }
    }

    /*
     xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
    */